/* CSS files add styling rules to content */

body {
    font-family: 'Cambria Math';
    font-size: 1.25em;

    margin: 1.5em;
    background-color: #1b1d1e; /* grey */
    color: #dbd8d3; /* white */
}

h1, h2 {
    text-align: center;
}


ol.upper-roman{
    list-style-type: upper-roman;
}

.text-justified {
    text-align: justify;
    text-justify: inter-word;
}

/* Style links */
a {
    color: lightskyblue;
    text-decoration: none;
}

a:hover {
    /*font-weight: bold;*/
    text-decoration: underline;
    color: lightcoral;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change color on hover */
.topnav a:hover {
    font-weight: 0;
    background-color: #ddd;
    color: black;
}