/* CSS files add styling rules to content */

body {
    font-family: 'Cambria Math';
    font-size: 2em;

    margin: 1.5em;
    background-color: #1b1d1e; /* grey */
    color: #dbd8d3; /* white */
}

h1, h2 {
    text-align: center;
}


ol.upper-roman{
    list-style-type: upper-roman;
}

/*/// Links ///*/
a {
    color: lightskyblue;
    text-decoration: none
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: lightcoral;
}
